<%- include("templates/header") %>
    <div class="container p-5 m-auto">
        <h1 style='color:red'>Error!</h1>
        <div>
            <%= error %>
        </div>
    </div>
<%- include("templates/footer") %>