<%- include("templates/header") %>
<div class="container p-3 ">
    <% if (authenticated) { %>
        <div class="container m-auto">
            <p class="fs-3">Hello, <%= String(name).charAt(0).toUpperCase() + String(name).slice(1) %>!</p>
            <a class="btn btn-outline-success" href="members">Go to Members Area</a>
            <a class="btn btn-outline-dark" href="logout">Sign out</a>
        </div>
    <% } else { %>
        <div class="container m-auto d-flex">
            <a class="btn btn-info m-2 fs-5 p-2" href='/createUser'>Sign up</a>
            <a class="btn btn-success m-2 fs-5 p-2" href='/login'>Log in</a>
        </div>
    <% } %>
</div>

<%- include("templates/footer") %>