<%- include("templates/header") %>
<div class="container m-auto p-5">
    <h2>Error:</h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= error %></li>
    </ul>
    <a href='/login' class="btn btn-outline-danger m-2">Try again</a>
</div>
<%- include("templates/footer") %>